<div class="background">
  <h2>Welcome to Marvel World</h2>
  <p>
    "¡Únete al emocionante universo de Marvel y descubre un mundo de héroes
    increíbles, aventuras épicas y poderes sobrehumanos que te dejarán sin
    aliento!"
  </p>
  <div class="">
    <div class="center-container flex justify-content-center">
      <img src="./../../../../assets/images/spiderman.png" alt="logo" />
    </div>
  </div>

  <div class="buttons">
    <button routerLink="/characters" type="button">Series</button>
  </div>
</div>
